In [3]:
import pandas as pd
import numpy as np

In [8]:
#get path (remember to make this adjustable based on file)
path = "../HeroesOfPymoli/purchase_data.json"
file = pd.read_json(path)

file.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [60]:
#get the number of unique players (unique screen names in SN column)
numPlayers = file.SN.nunique()
print("There are " + str(numPlayers) + " players")
#unique items
uniqueItems = file['Item Name'].nunique()
print("There are " + str(uniqueItems) + " unique Items")
#average price
avgPrice = np.mean(file.Price)
print("There average price of items is " + str(numPlayers))
#total purchases
totalPurchases = file.Price.count()
print("There was a total of " + str(totalPurchases) + " purchases")
#total revenue
totalRevenue = file["Price"].sum()//1
print("The total revenue is " + str(totalRevenue))

There are 573 players
There are 179 unique Items
There average price of items is 573
There was a total of 780 purchases
The total revenue is 2286.0

In [93]:
uniqueSN = file.groupby(["SN", "Gender"],as_index=False).count()


counts = uniqueSN['Gender'].value_counts().to_dict()
totalMale = counts["Male"]//1
totalFemale = counts["Female"]//1
totalOther = numPlayers - (totalMale + totalFemale)
percMale = ((totalMale/(totalMale + totalFemale + totalOther))*100)//1
percFemale = ((totalFemale/(totalMale + totalFemale + totalOther))*100)//1
percOther = ((totalOther/(totalMale + totalFemale + totalOther))*100)//1

print(str(totalMale) + " (" + str(percMale) + "%) players are Male")
print(str(totalFemale) + " (" + str(percFemale) + "%) players are Female")
print(str(totalOther) + " (" + str(percOther) + "%) players are Other / Non-Disclosed")

465 (81.0%) players are Male
100 (17.0%) players are Female
8 (1.0%) players are Other / Non-Disclosed

In [167]:
#uniqueSN = file.groupby("Gender",as_index=True).count()
maleFile = file.loc[file['Gender'] == 'Male']
femaleFile = file.loc[file['Gender'] == 'Female']
otherFile = file.loc[file['Gender'] == 'Other / Non-Disclosed']

malePurchCount = maleFile.Price.count()
femalePurchCount = femaleFile.Price.count()
otherPurchCount = otherFile.Price.count()

avgMalePrice = np.mean(maleFile.Price)
avgFemalePrice = np.mean(femaleFile.Price)
avgOtherPrice = np.mean(otherFile.Price)

sumMaleValue = np.sum(maleFile.Price)
sumFemaleValue = np.sum(femaleFile.Price)
sumOtherValue = np.sum(otherFile.Price)

print("Males bought " + str(malePurchCount) + " items at an average price of $" + str(avgMalePrice))
print("Females bought " + str(femalePurchCount) + " items at an average price of $" + str(avgFemalePrice))
print("The total purchase value for Males is " + str(sumMaleValue))
print("The total purchase value for Females is " + str(sumFemaleValue))

#normalized totals????????

Males bought 633 items at an average price of $2.9505213270142154
Females bought 136 items at an average price of $2.815514705882352
The total purchase value for Males is 1867.6799999999985
The total purchase value for Females is 382.90999999999985

In [163]:
max_age = file.Age.max()
min_age = file.Age.min()

binNumbers = np.arange(min_age,max_age, 4)
#get purchase count for each age group ?????
purchase_count = file.groupby([pd.cut(file['Age'], bins=binNumbers), "Price"], as_index=False).size()
purchase_count

Age       Price
(7, 11]   1.03     1
          1.27     1
          1.88     1
          1.96     2
          1.98     1
          2.22     1
          2.52     1
          2.82     1
          2.88     1
          2.97     1
          3.11     2
          3.47     1
          3.66     1
          3.96     1
          4.07     2
          4.53     1
          4.75     1
          4.82     1
          4.87     1
(11, 15]  1.24     3
          1.28     1
          1.32     1
          1.35     1
          1.36     1
          1.48     1
          1.49     1
          1.59     2
          1.69     1
          1.73     1
          1.77     1
                  ..
(35, 39]  2.72     1
          2.88     1
          3.02     1
          3.37     1
          3.48     1
          3.81     1
          3.82     1
          3.96     1
          4.14     1
          4.15     1
          4.39     1
          4.45     1
          4.56     1
          4.62     1
(39, 43]  1.55     1
          1.96     1
          2.11     1
          2.46     1
          2.52     1
          2.64     1
          2.86     1
          2.91     1
          3.62     1
          3.68     1
          3.81     1
          3.89     1
          4.16     1
          4.23     1
          4.26     1
          4.37     1
Length: 495, dtype: int64

In [160]:
uniqueSN

                  SN  Gender  Age  Item ID  Item Name  Price
0       Adairialis76    Male    1        1          1      1
1         Aduephos78    Male    3        3          3      3
2          Aeduera68    Male    3        3          3      3
3             Aela49    Male    1        1          1      1
4             Aela59    Male    1        1          1      1
5          Aelalis34    Male    2        2          2      2
6            Aelin32    Male    1        1          1      1
7         Aeliriam77    Male    2        2          2      2
8       Aeliriarin93    Male    1        1          1      1
9           Aeliru63    Male    2        2          2      2
10        Aellyria80    Male    1        1          1      1
11     Aellyrialis39    Male    1        1          1      1
12        Aellysup38    Male    1        1          1      1
13         Aelollo59    Male    1        1          1      1
14         Aenarap34  Female    1        1          1      1
15          Aenasu69    Male    1        1          1      1
16           Aeral43  Female    1        1          1      1
17           Aeral85    Male    1        1          1      1
18           Aeral97    Male    1        1          1      1
19            Aeri84  Female    2        2          2      2
20      Aerillorin70    Male    1        1          1      1
21     Aerithllora36    Male    3        3          3      3
22     Aerithnucal56    Male    2        2          2      2
23    Aerithnuphos61    Male    1        1          1      1
24   Aerithriaphos45    Male    1        1          1      1
25           Aesty51    Male    1        1          1      1
26           Aesur96    Male    1        1          1      1
27           Aethe80    Male    1        1          1      1
28        Aethedru70    Male    1        1          1      1
29          Aidain51    Male    2        2          2      2
..               ...     ...  ...      ...        ...    ...
543      Undjaskla97    Male    1        1          1      1
544     Undjasksya56    Male    1        1          1      1
545      Undotesta33    Male    1        1          1      1
546         Wailin72    Male    1        1          1      1
547      Whaestysu86    Male    1        1          1      1
548        Yadacal26    Male    1        1          1      1
549      Yadaisuir65    Male    2        2          2      2
550        Yadanun74    Male    3        3          3      3
551       Yalaeria91    Male    1        1          1      1
552         Yaliru88    Male    1        1          1      1
553           Yalo71    Male    1        1          1      1
554    Yalostiphos68  Female    1        1          1      1
555      Yaralnura48    Male    2        2          2      2
556       Yararmol43    Male    1        1          1      1
557       Yarirarn35    Male    1        1          1      1
558        Yaristi64    Male    1        1          1      1
559   Yarithllodeu72    Male    1        1          1      1
560     Yarithphos28    Male    1        1          1      1
561   Yarithsurgue62    Male    2        2          2      2
562         Yarmol79    Male    1        1          1      1
563       Yarolwen77    Male    2        2          2      2
564      Yasriphos60    Male    3        3          3      3
565        Yasrisu92  Female    1        1          1      1
566          Yasur35    Male    1        1          1      1
567          Yasur85    Male    1        1          1      1
568        Yasurra52  Female    1        1          1      1
569       Yathecal72    Male    2        2          2      2
570       Yathecal82    Male    1        1          1      1
571       Zhisrisu83    Male    2        2          2      2
572        Zontibe81    Male    1        1          1      1

[573 rows x 6 columns]